@import "./legacy.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}
